@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

:root {
    --black: hsla(0, 0%, 0%, 0.95);
    --dark-gray: hsla(0, 0%, 0%, 0.7);
    --medium-gray: hsla(0, 0%, 0%, 0.5);
    --light-gray: hsla(0, 0%, 0%, 0.3);
    --white: hsla(0, 100%, 100%, 1.0);
    --link: hsla(240, 100%, 50%, 0.9);
}

* {
    margin: 1em 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
}

*:first-child {
    margin-top: 0;
}

*:last-child {
    margin-bottom: 0;
}

html,
body,
div,
nav,
a,
br {
    margin: 0;
}

body {
    font: 12pt/18pt "Barlow", sans-serif;
    font-weight: 400;
    color: var(--black);
    margin: 0;
}

a, a:visited {
    text-decoration: none;
    color: var(--link);
}

a.button {
    display: inline-block;
    padding: 0.4em 0.8em;
    border: 1px solid var(--light-gray);
    border-radius: 0.2em;
    color: var(--black);
    font-weight: 400;
    font-size: 0.95em;
    cursor: pointer;
}

a.button:hover {
    border: 1px solid var(--black);
}

pre {
    font-family: monospace;
}

h2 {
    font-size: 1.15em;
}

h1, h2, h3, h4, th {
    font-weight: 500;
}

b {
    font-weight: 600;
}

hr {
    border-top: 1px solid var(--light-gray);
}

span.material-icons-outlined {
    vertical-align: -0.20em;
}

.hflex {
    display: flex;
}

.hflex > * {
    flex-grow: 1;
    margin-top: 0;
    margin-bottom: 0;
}
