html, body, section {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

header,
footer {
    margin: 0;
    padding: 1em;
}

section {
    margin: 0;
    padding: 2em;
}

header > div, section > div, footer > div {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
}

header > div, footer > div {
    display: flex;
    justify-content: space-between;
}

header a, header a:visited, footer a, footer a:visited {
    color: var(--black);
}

header {
    border-bottom: 1px solid var(--medium-gray);
}

footer {
    border-top: 1px solid var(--medium-gray);
}

a#logotype {
    color: inherit;
    font-weight: 700;
}

nav#top-nav {
    display: flex;
}

nav#top-nav > a {
    display: block;
    width: 8em;
    text-align: center;
    color: var(--dark-gray);
}

nav#top-nav > a.selected {
    color: inherit;
    font-weight: 600;
}

nav#global-nav {
    color: inherit;
}

body.excursion {
    background-color: var(--dark-gray);
    height: auto;
}

body.excursion > section {
    padding: 4em;
}

body.excursion > section > div {
    background-color: var(--white);
    border-radius: 0.2em;
    padding: 3em;
}
